* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  background-color: #c8a383;
}

.drop-down-menu {
  display: flex;
  padding: 10px 0 0 10px;
}

label {
  padding: 10px 0 0 10px;
}

.button {
  display: flex;
  padding: 10px 0 0 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
  color: #000;
  padding-bottom: 15px;
}

body {
  background-color: #ac9d7f;
}

h1 {
  color: #42423d;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* Mobile Styles */
@media only screen and (max-width: 800px) {
  .drop-down-menu {
    justify-content: center;
  }
  .search-menu {
    text-align: center;
  }
  .button {
    justify-content: center;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 801px) {

}
